# Credenciais Google
google_credentials.json

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Arquivos temporários
*.log
*.tmp
.DS_Store
